.full
{
  position: absolute;
}
.re9
{
    position: absolute;
    width: 488px;
    height: 500px;
    left: 250px;
    top: 95px;
    background: rgba(159, 7, 83, 0.24);
    border-radius: 50px;

}
.cun
{
    background: url("./zebra.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 500px;
    width: 488px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 50px;
}
.src
{
   padding: 5px;
    font-size: 25px;
    position: absolute;
    margin-left: 800px;
    margin-top: 230px;
    text-align: left;
    color: rgb(2, 2, 2);
    font-weight: bold;
}
.re99
{
    position: absolute;
    width: 488px;
    height: 500px;
    left: 250px;
    top: 700px;
    background: rgba(159, 7, 83, 0.24);
    border-radius: 50px;

}
.tig
{
    background: url("./tiger.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 500px;
    width: 488px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 50px;
}
.src1
{
    padding: 5px;
    font-size: 25px;
    position: absolute;
    margin-left: 800px;
    margin-top: 830px;
    text-align: left;
    color: rgb(2, 2, 2);
    font-weight: bold;
}
.re999
{
    position: absolute;
    width: 488px;
    height: 500px;
    left: 250px;
    top: 1300px;
    background: rgba(159, 7, 83, 0.24);
    border-radius: 50px;
}
.lion
{

   background: url("./lion.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 490px;
    width: 488px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 50px;
}
.src11
{
    padding: 5px;
    font-size: 25px;
    position: absolute;
    margin-left: 800px;
    margin-top: 1420px;
    text-align: left;
    color: rgb(2, 2, 2);
    font-weight: bold;
}

.re9999
{
    position: absolute;
    width: 488px;
    height: 500px;
    left: 250px;
    top: 1900px;
    background: rgba(159, 7, 83, 0.24);
    border-radius: 50px;
}
.elephant
{
    background: url("./elephant.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 490px;
    width: 488px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 50px;
}
.src111
{

    padding: 5px;
    font-size: 25px;
    position: absolute;
    margin-left: 800px;
    margin-top:2000px;
    text-align: left;
    color:  rgb(2, 2, 2);
    font-weight: bold;
}
.re99999
{
    position: absolute;
    width: 488px;
    height: 500px;
    left: 250px;
    top: 2500px;
    background: rgba(159, 7, 83, 0.24);
    border-radius: 50px;
}
.cheetah
{
    background: url("./cheetah.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 490px;
    width: 488px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 50px;
}
.src1111
{
    padding: 5px;
    font-size: 25px;
    position: absolute;
    margin-left: 800px;
    margin-top:2620px;
    text-align: left;
    color: rgb(2, 2, 2);
    font-weight: bold;
}
.re999999
{
    position: absolute;
    width: 488px;
    height: 500px;
    left: 250px;
    top: 3100px;
    background: rgba(159, 7, 83, 0.24);
    border-radius: 50px;
}
.fox
{
    background: url("./cunning.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 490px;
    width: 488px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 50px;
}
.src11111
{
    padding: 5px;
    font-size: 25px;
    position: absolute;
    margin-left: 800px;
    margin-top:3170px;
    text-align: left;
    color: rgb(2, 2, 2);
    font-weight: bold;
}
.re9999999
{
    position: absolute;
    width: 488px;
    height: 500px;
    left: 250px;
    top: 3700px;
    background: rgba(159, 7, 83, 0.24);
    border-radius: 50px;
}
.deer
{
    background: url("./deer1.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 490px;
    width: 488px;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 50px;
}
.src111111
{
    padding: 5px;
    font-size: 25px;
    position: absolute;
    margin-left: 800px;
    margin-top:3800px;
    text-align: left;
    color:  rgb(2, 2, 2);
    font-weight: bold;
}