
::-webkit-scrollbar{
	display: none;
}


.containerlogin {
	background: url("./nature.jpeg")
		no-repeat center center;
	background-size: cover;
	backdrop-filter: blur(1px);
	
	place-content: center;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


.banner * {
	margin: 40px;
	color: #cccccc74;
	cursor: default;
    top: 100px;
    left: 200px;
}

.form {
	height: 100%;
	width: 380px;
	background: #ffffffaa;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	position: relative;
    top: 200px;
    left: 500px;
    
    
}

.form img {
	margin: 45px 0 20px;
	height: 70px;
	border-radius: 50%;

	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form small:first-of-type{
	margin-bottom: 20px;
}

.aa{
	font-size: small;
	color: #1069d6;
	cursor: pointer;
}

.form input {
	margin-bottom: 10px;
	padding: 8px 15px;
	width: 212px;
	border: 2px solid #ccc;
	color: #000;
	font-weight: bold;
	border-radius: 20px;
}

.form input:focus {
	outline: 0;
	transition: 0.5s;
	border: 2px solid #646464;
}

::-ms-reveal {
	filter: invert(100%);
}

.button {
	width: 215px;
	height: 38px;
	border: 2px solid #142b54;
	background: #142b54;
	color: #fff;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	margin: 0 0 50px 0;
}

button:active {
	transform: scale(1.05);
	box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

