.srch6
{
    background-color: red;
    font-size: 16px;
    color: white;
    width: 200px;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: none;
    border: 1px solid green;
    margin-top: 0px;
    float: left;
    
}
.btn6
{
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: black;
    background: pink;
    border: 2px solid blue;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
 
}
.btn6:focus
{
    outline: none;
}
.srch6:focus
{
    outline: none;
}